@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirLTProBook.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirLTProRoman.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirLTProMedium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirLTProHeavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirLTProBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Francy";
  src: url("/fonts/Francy.otf") format("opentype"),
  url("/fonts/Francy.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
